header {
	display: flex;
	justify-content: center;
	align-items: center;
}

main {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

#main {
	grid-column: 2;
}

#playerList {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #181b1e;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 20px;
}

#rules {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: -125%;
}

#readyButton {
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#startButton {
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.unready {
	color : #ff0000;
}

.ready {
	color : #00ff00;
}

footer {
	margin-left: 25px;
}

